{
  "plugins": [
    "@babel/transform-runtime",
    "transform-es3-member-expression-literals",
    "transform-es3-property-literals",
    "transform-es5-property-mutators",
    "transform-class-properties"
  ],
  "presets": [
    "@babel/preset-typescript",
    [
      "@babel/preset-env",
      {
        "targets": {
          "ie": "9"
        }
      }
    ]
  ]
}
